
<% layout('/layout/body')  %> 
<div class="row offset-sm-1 mt-4">
    <div class="col-md-6">
            <div class="card m-2">
                <div class="card-body">
                  <h5 class="card-title"><%= post.title %> </h5>
                  <p class="card-text"><%= post.text %> </p>
                        <p class="card-text">Made By: <%= post.author.username %> </p>      
                  <p class="card-text">Posted on: <%= post.createdAt.toUTCString() %> </p>
                  <button  data-bs-toggle="modal"  class="btn btn-danger"   data-bs-target="#exampleModal">
                    Delete
                   </button>
                   <a href="/show/<%= post._id%>/edit"  class="btn btn-warning"   >
                   Edit
                   </a>
                </div>
              </div>
        
    </div>
</div>





  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         Are you sure you want to delete the post?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="/show/<%= post._id %>?_method=DELETE" method="POST">
            <button  class="btn btn-primary">Delete</button>
        </form>
          
        </div>
      </div>
    </div>
  </div>